body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #222;
    font-size: 17px;
    line-height: 1.7;
    padding: 0;
    margin: 0;
}

a {
  color: #ed2c2c;
  text-decoration: none;
  box-shadow: 0 -2px 0 #ed2c2c inset;
}

h1 { 
  margin: 0;
}

h1, h2 {
  font-size: 19px;
  font-weight: 800;
}

h2 {
  font-size: 31px;
  margin-top: 3rem;
}

.u-content {
  color: #444;
  font-size: 20px;
}

.Wrapper {
  display: flex;
  flex-direction: row;
}

.Content {
  padding: 2rem;
  max-width: 777px;
  margin: 0 auto;
}

.AdminDebris {
  padding: 2rem 3rem;
  text-align: right;
  min-width: 70px;
  background-color: cornsilk;
  margin-left: -200px;
  width: 200px;
  box-sizing: border-box;
}

.AdminDebris-focal {
  margin-top: 0;
}

.AdminDebris-content {
  position: fixed;
}

.entries {
    list-style: none;
    margin: 0;
    padding: 0;
}

.entries li {
    margin: 0;
}

.add-entry {
    font-size: 0.9em;
    border-bottom: 1px solid #ccc;
}

.add-entry dl {
    font-weight: bold;
}

.metanav {
    text-align: right;
    font-size: 0.8em;
    padding: 0.3em;
    margin-bottom: 1em;
    background: #fafafa;
}

.flash {
    background: #cee5F5;
    padding: 0.5em;
    border: 1px solid #aacbe2;
}

.error {
    background: #f0d6d6;
    padding: 0.5em;
}
